<section class= "Menu-section">
  <p class= "Menu-title">ABOUT US</p>

    <p class= "About-name">A NETWORK OF SUCCESS</p>

      <p class= "About-usertext">
        ​​The Indian Cuisine is as diverse as its culture, languages, regions and its climate. Every major region of India brings its own unique dishes and subtle variations to popular dishes. Aromatic Spices are the essence of Indian cuisine.<br><br><br><br>
        This is the unique formula, we at the CAFETERIA, chain of Indian vegetarian restaurants follow, to build our businesses across the globe.<br><br><br><br>
        Each new restaurant added to our network carries the legacy of good taste and quality. The trust that the customers have placed in us has been a motivating factor in exploring new destinations.<br><br><br><br>
        Today, our group has its presence across 31 outlets in South India, 2 in the North and 12 countries with 46 outlets across the globe and 3 countries with 3 outlets to be opened. We have come a long way creating a niche among the Hotelier & Caterer segment.<br><br><br><br>
        We ensure our customers are our strength and make them feel at home when they are with us. An outlet to be great with friends or all by yourself.<br><br><br><br>
        You can eat in, take it to go, or have it catered right to you. The feeling is friendly and the food is fabulous. Whenever you need it, wherever you need it, it is your own unique world to eat out.<br><br><br><br>
        Our services include Fast Food, Take Away, Home Delivery, Outdoor Catering, Party Orders and more.<br><br><br><br>
        We started our First outlet in 2001, and have established a reputation for AUTHENTIC INDIAN VEGETARIAN Cuisine,among Indian Expats,and clients of other race including Japanese, Chinese, Caucasians,amona others.
      </p>

    <p class= "About-name">VISION & MISSION</p>
    <p class= "About-title">PASSION TO SERVE BETTER</p>

      <p class= "About-usertext">
        When the efforts are sincere, intentions noble and the aspirations high, success is a natural by-product.<br><br><br><br>
        We at the CAFETERIA follow the perfect formula for success. Delicious food prepared under extremely hygienic conditions, served in a clean environment with a lot of passion and the reasonable pricing is the perfect answer to our gourmet, budget conscious customer.<br><br><br><br>
        A menu of different dishes in various categories, prepared to exacting standards and serving 1,20,000 customers across all the outlets, is a testimony to the impeccable quality and taste that our CAFETERIA is famous for.
      </p>

    <p class= "About-title">RAISING THE BAR OF EXCELLENCE</p>

      <p class= "About-usertext">
        To establish, maintain and continue leadership in the hospitality sector by providing high quality food at the most competitive prices to suit diverse consumer groups.
      </p>

    <p class= "About-title">OBJECTIVES</p>

      <p class= "About-usertext">
        To offer high quality vegetarian food without compromising on taste.<br><br><br><br>

        To increase the operational efficiency by periodic monitoring of Quality Management System.<br><br><br><br>

        To achieve cost reduction by minimising wastage and better operational techniques.<br><br><br><br>

        To increase our market share through better public relations and expanding the network.<br><br><br><br>

        To introduce new products in keeping with the customers’ changing preferences.<br><br><br><br>

        To ensure highest degree of cleanliness and hygiene in preparation, preservation and serving of food.<br><br><br><br>

        To motivate our work force by encouraging them to achieve our goals.<br><br><br><br>
      </p>

</section>
