<% if flash[:success] %>
    <p class="Flash-success"><%= flash[:success] %> </p>
<% end %>

<%= render partial: "order", locals: {
         menu_name: @menu.name,
         menu_id: @menu.id,
         menu_items: MenuItem.specific_menu_items(@menu.id) }
%>
