<% if @user_orders.count!=0 %>
  <% if @current_user.role != "Customer"%>
    <div class= "OrderStatus">
      <% status= @user_orders.first.status %>
      <a href="/cafeteria/orders?order=P" class= <%= status == "Confirmed"? "StatusActive" : "OrderStatus-text" %> >Pending</a>
      <a href="/cafeteria/orders?order=D" class= <%= status == "Delivered"? "StatusActive" : "OrderStatus-text" %> >Delivered</a>
    </div>
  <% end %>
  <% if flash[:success] %>
    <p class="Flash-success"><%= flash[:success] %></p>
  <% end %>
  <%= render partial: "orders-section", locals: { orders: @user_orders } %>
<% else %>
  <section class= "Menu-section">
    <p class = EmptyOrder >No Orders Yet</p>
  </section>
<% end %>
