<p class= "NewUsers-title"> Welcome New User! </p>

<section class= "UserNew:">
  <%= form_with url: users_path do |form| %>
    <div class= "Form-section">
      <p class= "FieldText">Name</p>
      <%= form.text_field :name, class: "TextField" %>
    </div>
    <div class= "Form-section">
      <p class= "FieldText">Password: </p>
      <%= form.password_field :password, class: "TextField" %>
    </div>
    <div class= "Form-section">
      <%= form.submit "Sign-up!", class: "Form-submit"%>
    </div>
  <% end %>
</section>
