.Home{
}

.Welcome-section{
  width: 900px;
  display: inline-block;
}

.Welcome-title{
  font-size: 55px;
  color: white;
  font-weight: 900;
  -webkit-text-stroke: 3px black;
  font-family: monospace;
  padding-left: 300px;
}

.About-section{
  margin-top: 133px;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  font-family: cursive;
}

.About-usersection{
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  font-family: cursive;
}

.About-head{
  display: block;
  width: 100%;
  height: 100px;
  font-size: 40px;
  font-weight: 900;
  color: maroon;
  background-color: rgba(255, 255, 255, 0.89);
  padding-top: 50px;
}

.About{
  margin: 0 auto;
  max-width: 1000px;
  color: black;
  border: 5px solid black;
  background-color: rgba(255, 255, 255, 0.699);
}

.About-name{
  font-size: 30px;
  color: #248000;
  font-weight: bold;
  border-bottom: 3px solid #248000;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.About-title{
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.About-text{
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
}

.About-usertext{
  font-weight: 900;
}

.UserNew{
  display: inline-block;
  margin: auto;
  margin-top: 120px;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 10px 10px 7px black;
}
