body{
  font-family: sans-serif;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 32px;
}

.TrashImage{
  height: 18px;
  width: 15px;
}

.TodoPage-Title {
  font-size: 20px;
  line-height: 1.6;
  color: #453c52;
  font-weight: 600;
  margin-bottom: 12px;
}

.AddTodo{
  display: flex;
  height: 32px;
  align-items: stretch;
  margin-bottom: 24px;
}

.AddTodo-text{
  padding: 6px;
  font-size: 14px;
  color: #453c52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
}

.AddTodo-date{
  padding: 6px;
  font-size: 14px;
  color: #453c52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
}

.AddTodo-button{
  padding: 6px 22px;
  font-size: 14px;
  color: white;
  background-color: #48bb78;
  border: 1px solid transparent;
  border-radius: 4px;
}

.UserHeader{
  padding: 10px;
  background-color: lightgray;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.TodoSectionTitle {
  display: flex;
  color: #453c52;
  align-items: center;
  margin-bottom: 8px;
}

.TodoSectionTitle-text {
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  line-height: 1.4;
}

.TodoText{
  font-size: 14px;
  line-height: 1.4;
  margin-right: 12px;
}

.TodoSectionTitle-remaining {
  font-size: 12px;
  line-height: 1.4;
}

.TodoItem{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 4px;
  width: 450px;
}

.TodoItem:hover{
  background: #F1EDF7;
}

.TodoCheckbox{
  width: 16px;
  height: 16px;
}

.DateText{
  margin-left: 10px;
  color: #726A7E;
  font-size: 12px;
  line-height: 1.4;
  margin-right: 12px;
}

.TodoItem-delete{
  visibility: hidden;
}

.TodoItem:hover .TodoItem-delete{
  visibility: visible;
}

.TodoSection-Todo {
  font-size:20px;
  line-height: 1.2;
  margin-left: 32px;
  color: #453c52;
}

.TodoSection {
  margin-bottom: 20px;
}
