.Home-signup{
  float: right;
  margin: 25px 50px;
}

.UserNew{
  margin: auto;
  margin-top: 120px;
  margin-right: 200px;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 10px 10px 7px black;
}

.UserNewSign{
  max-width: 330px;
  margin: auto;
  margin-top: 100px;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 10px 10px 7px black;
}

.NewUsers-title{
  font-size: 30px;
  margin-bottom: 10px;
}

.Form-section{
  margin-top: 30px;
}

.FieldText{
  margin-bottom: 8px;
  color: #333232;
}

.Flash-error{
  color: darkred;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.TextField{
  font-size: 20px;
  padding: 8px;
}

.Form-submit{
  font-size: 20px;
  color: white;
  padding: 10px;
  background-color: #053d1c;
  border-radius: 8px;
  border: 0;
  margin-top: 10px;
  display: inline-block;
}

.Back{
  margin-top: 50px;
  margin-left: 30px;
}
